body {
    margin: 0;
    background-color: #39384c;
}

#canvas {
    display: block;
    white-space: nowrap;
    background-color: #e3bab3;
}

#calcButton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
    background-color: #849974;
}

#area, #perimeter {
    color: white;
    margin-left: 30px;
}
